/* General Styles */
body {
  margin: 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.header form {
  display: flex;
  align-items: center;
  flex: 1; /* Allow form to take up space between logo and icons */
  max-width: 500px; /* Optional: Limit search bar width */
  margin: 0 auto; /* Center the form in the header */
}

.header__search {
  width: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons button {
  margin-left: 10px; /* Optional: Space between profile picture and sign-in button */
}

.header__icons img {
  border-radius: 50%;
  width: 40px; /* Adjust size as needed */
  height: 40px;
}

/* Main Content Styles */
.home {
  display: flex;
  flex-direction: column;
}

.home__content {
  display: flex;
}

.sidebar {
  width: 200px; /* Adjust as needed */
  background-color: #f0f0f0;
  padding: 10px;
}

.main {
  flex: 1;
  padding: 10px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.video-card a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the color of the parent element */
}

.video-card {
  width: 200px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  border:;
  border-radius: 10px;
  overflow: hidden;
}

.video-card img {
  width: 100%;
  height: auto;
}
