.profile-container {
  display: flex;
  font-family: Arial, sans-serif;
  min-height: 80vh;
}

.menu {
  width: 220px;
  border-right: 2px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
}

.menu button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: #e0e0e0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.account-settings, .billing {
  max-width: 500px;
  margin-left: 150px;
  margin-top: 50px;
}

.section-header {
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.profile-item {
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: 0px;
}

.profile-label {
  font-weight: bold;
  font-size: 14px;
  display: block;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.profile-picture-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.default-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.profile-form .profile-item {
  margin-bottom: 10px;
}

.profile-form input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout-button {
  padding: 12px 20px;
  margin-top: 30px;
  background-color: #0000CD;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #00008B;
}

.back-button {
  padding: 12px 20px;
  margin-top: 30px;
  background-color: #0000CD;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #00008B;
}

.payment-placeholder {
  display: flex;
  flex-direction: column;
}

.payment-placeholder input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
